<form action="/celebrities/new" method="post">
  <input type="text" name="name" placeholder="Name" >
  <input type="text" name="occupation"  placeholder="occupation" >
  <input type="text" name="catchPhrase"  placeholder="catchPhrase" >
  <input type="submit" value="Send">
</form>