<form action="/auth/signup" method="post">
    <label for="">Username</label>
    <input type="text" name="username">
    <label for="">Password</label>
    <input type="password" name="password">
    <label for="">email</label>
    <input type="text" name="email">
    <button>Sign Up</button>
</form>